<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="logoWrapper">
            <img class="d-block mx-auto mb-4" src="/images/nira.png" alt="" width="auto" height="150">
        </div>
        <a type="button" class="btnLink" href="/">Home</a>

    </header>

    <main class="mainBody">
        
        <h1>Log in</h1>
        <section class="sectionForm">
            
            <form action="/login" method="post">

                <div class="formSection">
                    <label for="username">Email:</label>
                    <input type="email" required name="username">
                </div>

                <div class="formSection">
                    <label for="password">Password:</label>
                    <input type="password" required name="password">
                </div>
                <button type="submit" class="btnLink">Log In</button>
            </form>
        </section>
    </main>
  </body>
</html>
