<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="logoWrapper">
            <img class="d-block mx-auto mb-4" src="/images/nira.png" alt="" width="auto" height="150">
        </div>
        <a type="button" class="btnLink" href="/">Home</a>

    </header>

    <main class="mainBody">
        
        <h1>Log in</h1>
        <section class="sectionForm">
            
            <form action="/message" method="post">

                <div class="formSection">
                    <label for="title">Title:</label>
                    <input type="text" required name="title">
                </div>

                <div class="formSection">
                    <label for="message">Post:</label>
                    <textarea required name="message" rows="5" cols="30"></textarea>
                </div>
                <button type="submit" class="btnLink">Submit</button>
            </form>
        </section>
    </main>
  </body>
</html>
